<!DOCTYPE html>
<html>
    <body>
        
        <% for (item of user) { %>
            <a>user_id : <%= item.user_id %> &nbsp;&nbsp; user_pass <%= item.user_pass %></a>
        <% } %>
       
    </body>
</html>