<!DOCTYPE html>
<html lang="en">
<body>
    <form action="/join" method="post">
        ID : <input type="text" name="user_id"><br/>
        PASSWORD : <input type="password" name="user_pass"><br/>
        <input type="submit">
    </form>
</body>
</html>