<!DOCTYPE html>
<html>
  <head>
    <%- include('header') %>
  </head>
    <body>
        <dev class="login">
            &nbsp;
            <ul><a href="/"><img src="https://daikoiws.co.jp/wp-content/themes/daiko/common/images/header_logo.png"></a></ul>
        </dev>
        <dev class="form">
            <ul class="form-d">
            <form class="row g-3" method="post" action="/login">
                <div class="col-md-6">
                    <label for="user_id" class="form-label">ID</label>
                    <input type="text" class="form-control" id="user_id" name="user_id">
                  </div>
                  <div class="col-md-6">
                    <label for="user_pass" class="form-label">Password</label>
                    <input type="password" class="form-control" id="user_pass" name="user_pass">
                  </div>    
                  
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="submit" class="btn btn-primary">login</button>
                  </div>
            </form>
            </ul>
        </dev>

    </body>
</html>

