<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="/stylesheets/style.css" />
      <link rel="stylesheet" href="bootstrap/bootstrap.min.css" >
      <title>DaikoIWS-KT</title>
    </head>
    <body>
<!------------------------------------------------------------------------------------------->       
      <h1 style="text-align: center; margin-top: 5rem"><a href="/"><img src="images/daikoiws_logo.png"></a></h1>
        <hr>
        <div class="container">
        <h1 style="color: rgb(141, 24, 24); margin-bottom: 3rem;">エラーが発生しました。</h1>
        </div>


<!------------------------------------------------------------------------------------------->        
      
    </body> 
</html>